.about {
	background: url(../images/bgTop.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
	color: $brand-white;
	&__list {
		padding: 70px 20px;
		&__item{
			padding: 30px 0;
			&__icon {
				font-size: 1.8em;
				border: 2px solid $brand-white;
				border-radius: 50%;
				padding: 15px;
			}
			&__title {
				@extend %header3;
				color: white;
				padding-top: 50px;
			}
			&__description {
				@extend %description3;
				color: white;
			}
			&:nth-child(1) {
				animation: 1s slide-up backwards paused;
			}
			&:nth-child(2) {
				animation: 1s slide-up 0.3s backwards paused;
			}
			&:nth-child(3) {
				animation: 1s slide-up 0.6s backwards paused;
			}
		}
	}
}
@media (min-width: 550px) {
	.about__list {
		padding-left: calc(50% - 260px);
		padding-right: calc(50% - 260px);
	}
}
@media (min-width: 1000px) {
	.about {
		&__list {
			padding: 50px 0;
			padding-left: calc(50% - 480px);
			padding-right: calc(50% - 480px);
			overflow: hidden;
			&__item {
				width: 33.33%;
				float: left;
				box-sizing: border-box;
				padding: 25px;			
			}
		}
		&__title {
			padding-top: 40px;
			padding-bottom: 20px;
		}
	}	
}
@media (min-width: 1200px) {
	.about {
		&__list {
			padding-left: calc(50% - 580px);
			padding-right: calc(50% - 580px);
		}
	}
}